<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../Style/style.css">
    <title>Tic Tac Toe</title>
</head>
<body>
<div class="container" id="container">
    <div>
        <h4>Score : <span id="score">0</span> </h4>
    </div>
    <div class="player_vs_player">
        <div class="circle"></div>
        <span id="player_one"></span>

        <div class="circle"></div>
        <span id="player_two"></span>

    </div>

    <div class="table-container">
        <div class="table">
            <div class="row">
            </div>
        </div>
    </div>


</div>

<script src="../js/jeux.js"></script>

</body>
</html>