<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../Style/style.css">
    <title>Tic Tac Toe</title>
</head>
<body>
<div class="container" id="container">

    <div class="player_vs_player">
        <div class="circle">

        </div>

    <div>
        <h1>Score : <span id="score">0</span> </h1>
    </div>
        <div class="circle">

        </div>
    </div>

    <div class="table-container">
        <div class="table">
            <div class="row">
                <!-- Your cells go here -->
            </div>
        </div>
    </div>


</div>

<script src="../js/jeux.js"></script>
</body>
</html>